<mat-toolbar color="primary">Login |   
    <button  (click)="iraproductos()"> Productos </button>   | 
    <button  (click)="iraventas()"> Ventas </button> |   
    <button  (click)="iraenergia()"> Energía</button>  | 
    <button  (click)="iraclientes()"> Clientes</button>  | 
    <button  (click)="iragastos()"> Gastos</button> 
</mat-toolbar>

<h2  align="center">Listado Gastos Mes</h2>

<h2 align="center"> 
    <button (click)="mesAnterior()">(Ver Mes Anterior)</button> 
    <button (click)="mesSiguiente()">(Ver Mes Siguiente)</button>  
    Gastos diarios Montos Totales {{nombreMesActual}} 
    <button  (click)="ingresargastos()"> Ingresar Gastos </button>
</h2> 
