<head>
    <link rel="stylesheet" href="gastos.component.css">
</head>

<mat-toolbar color="primary">Login |   
    <button  (click)="iraproductos()"> Productos </button>   | 
    <button  (click)="iraventas()"> Ventas </button> |   
    <button  (click)="iraenergia()"> Energía</button>  | 
    <button  (click)="iraclientes()"> Clientes</button>  | 
    <button  (click)="iragastos()"> Gastos</button> 
</mat-toolbar>

<h2  align="center">Listado Gastos Mes</h2>

<h2 align="center"> 
    <button (click)="mesAnterior()">(Ver Mes Anterior)</button> 
    <button (click)="mesSiguiente()">(Ver Mes Siguiente)</button>  
    Gastos diarios Montos Totales {{nombreMesActual}} 
</h2> 



<br>
<form #formularioMascota="ngForm" (ngSubmit)="formularioEnviado2()">
<table class="styled-table" align="center" id="excel-table">
  <thead class="table-dark">
 </thead>
 <tbody>
  <tr align="center"><td align="center"><h2>Formulario ingreso Gastos</h2></td></tr> 
  <tr>
    <td>Fecha</td>
    <td><input type="text" name="fecha" placeholder="fecha" [(ngModel)]="gastosModel.fecha" readonly></td>
  </tr>   
  <tr>
    <td>Nombre Item</td>
    <td><input type="text" name="item" placeholder="item" [(ngModel)]="gastosModel.item"></td>
  </tr>   
  <tr>
    <td>Cantidad</td>
    <td><input type="text" name="cantidad" placeholder="cantidad" [(ngModel)]="gastosModel.cantidad"></td>
  </tr>   
  <tr>
    <td>Monto Total</td>
    <td><input type="text" name="montotoal" placeholder="montototal" [(ngModel)]="gastosModel.montototal"></td>
  </tr>   
  <tr>
    <td>Descripción</td>
    <td><input type="text"   name="descripcion" placeholder="descripcion" [(ngModel)]="gastosModel.descripcion"></td>
  </tr>   
  <tr>
    <td><button type="submit">Guardar</button></td><td></td>
  </tr>   
</tbody>
</table>

</form>




<p>.</p><p>.</p>
  <table class="styled-table" align="center" id="excel-table">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>idcostos</th>
      <th>Fecha compra</th>
      <th>Item</th>
      <th>Cantidad</th>
      <th>MontoTotal </th>
      <th>Descripción</th>
      <th>Funciones</th>
    </tr>
   </thead>
   <tbody>
    <!-- <form #formularioElimina="ngForm" (ngSubmit)="formularioEnviado3()"> -->
    <tr *ngFor="let item of dataconsultagastos, index as id">
      <td>{{ id+1 }}</td>
      <td>{{item.idcostos}}</td>
      <td>{{item.fecha}}</td>
      <td>{{item.item}}</td>
      <td>{{item.cantidad}}</td>
      <td>{{item.montototal}}</td>
      <td>{{item.descripcion}}</td>
      <td>


        <form #formularioElimina="ngForm" (ngSubmit)="formularioEnviado3(item.idcostos)">
          <button type="submit">
            <img src="../../../assets/basura.png" width="25" height="20">
          </button>
        </form>
  


      </td>
    </tr>
    <!-- </form> -->
  </tbody>
  </table>

<hr>
<p>.</p>