/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.advanced-pie-legend .total-value {
  font-size: 30px;
}


.advanced-pie-legend .legend-items-container .legend-items {
  overflow: initial !important;
  width: 15rem !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
