<head>
  <link rel="stylesheet" href="home.component.css">
</head>

<mat-toolbar color="primary">Login |   
      <button  (click)="iraproductos()"> Productos </button>   | 
      <button  (click)="iraventas()"> Ventas </button> |   
      <button  (click)="iraenergia()"> Energía</button>  | 
      <button  (click)="iraclientes()"> Clientes</button>  | 
      <button  (click)="iragastos()"> Gastos</button> &nbsp;&nbsp;&nbsp; v1.0
</mat-toolbar>
  
<div>
<h2 align="center"> 
    <button (click)="mesAnterior()">(Ver Mes Anterior)</button> 
    <button (click)="mesSiguiente()">(Ver Mes Siguiente)</button>  
    Ventas diarias Montos Totales {{nombreMesActual}}
</h2> 

<div align = 'center'>
  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorSchemeBar"
    [results]="dataestadistica"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="showDataLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>
<p>
  .
</p>
  <h2  align="center">  <button (click)="diaAnterior()">(Día Anterior)</button>  
                        <button (click)="diaSiguiente()">(Día Siguiente)</button> 
                        Detalle de Ventas {{nombreMesActual}} {{ChangedFormat2}}</h2>
  <div align="center">
  <input type="date" (change)="SendDataonChange($event)" [(ngModel)]="changed"  />
  </div>

  <p></p>
  <table class="styled-table" align="center" id="excel-table">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>idventa</th><th>fechaventa</th>
      <!--<th>secuencia</th> -->
      <!--<th>nroboleta</th> -->
      <th>totalarticulos</th><th>subtotalventa</th>
      <th>iva</th><th>totalimporte</th><th>tipopago</th>
      <th>comisiontbk</th><th>comunicacionpos</th><th>estadotransbank</th>
      <th>trazastattransbk</th>
      <!--<th>longmsgtransbank</th> -->
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let item of dataconsultaventas, index as id">
      <td>{{ id+1 }}</td>
      <td>{{item.idventa}}</td>
      <td>{{item.fechaventa}}</td>
     <!-- <td>{{item.secuencia}}</td> -->
     <!--  <td>{{item.nroboleta}}</td> -->
      <td>{{item.totalarticulos}}</td>
      <td>{{item.subtotalventa}}</td>
      <td>{{item.iva}}</td>
      <td>{{item.totalimporte}}</td>
      <td>{{item.tipopago}}</td>
      <td>{{item.comisiontbk}}</td>
      <td>{{item.comunicacionpos}}</td>
      <td>{{item.estadotransbank}}</td>
      <td>{{item.trazastattransbk}}</td>
     <!-- <td>{{item.longmsgtransbank}}</td> -->
    </tr>
  </tbody>
  </table>
 
</div>

<div style="width: 60%; margin: 0px auto;">
   <h2>
    Total Efectivo: ${{totalMonto-totalTarjeta}}<br>
    Total Tarjeta: &nbsp; ${{totalTarjeta}}<br>
    Total:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       ${{totalMonto}}<br>
    Exportar a Exel: <a style="cursor: pointer" (click)="exportexcel()">
      <mat-icon> cloud_download</mat-icon>
    </a>
  </h2>
</div>

<ngx-charts-advanced-pie-chart
  [view]="view"
  [results]="dataestadistica"
  [gradient]="gradient"
  [label]="label"
  [animations]="animations"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-advanced-pie-chart>



<div>
  <h2 align="center">Ventas Diarias por Producto {{nombreMesActual}}</h2>
  <div align = 'center'>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorSchemeBar"
      [results]="dataestadisticaProd"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="y_etiquetaVtaDiariaCant"
      [showDataLabel]="showDataLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
  <div align="center">
    <select id="listConcep"  (change)="SendDataonChangeProd($event)" [(ngModel)]="changed" >
      <option value="{{item.nombreproducto}}"  *ngFor = "let item of dataProductos" >{{item.nombreproducto}}</option>
    </select>
    <label>Seleccione producto</label>
  </div>
<p>.</p>
<p>.</p>

<div>
  <h2 align="center">Ventas Mensuales por Producto {{nombreMesActual}}</h2>
  <div align = 'center'>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorSchemeBar"
      [results]="dataestadisticaVentasProd"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="showXAxisLabelVMP"
      [yAxisLabel]="yAxisLabel"
      [showDataLabel]="showDataLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
  


